[project]
name = "trilha-rl"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "gymnasium>=1.2.2",
    "numpy>=2.3.5",
    "torch>=2.9.1",
]
